/* ************************************************************
******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 PRELOADER CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
:: 9.0 ABOUT AREA CSS
:: 10.0 FACILITIES AREA CSS
:: 11.0 ROOMS AREA CSS
:: 12.0 TESTIMONIALS AREA CSS
:: 13.0 Book AREA CSS
:: 14.0 FOOTER AREA CSS
:: 15.0 FORM BOX AREA CSS
:: 16.0 NEW CHANGE CSS
:: 17.0 ABOUT PAGE 
:: 18.0  DESTINATIONS PAGE 
:: 19.0  FACILITIES PAGE 
:: 20.0  CONTACT PAGE 
:: 21.0  RESERVATION PAGE
:: 22.0  POPUP AREA
:: 23.0 TESTIMONIALS PAGE  
:: 24.0 NEWS PAGE 
:: 25.0 SINGLE NEWS PAGE
:: 26.0 GALLERY PAGE CS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* font-family: 'Tangerine', cursive; */


/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
@import url(et-line.css);
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(custom-animate.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #1c144e;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION HEADING*/
.section-heading {
    margin-bottom: 60px;
}

.section-heading > h2 {
    position: relative;
}

.section-heading > h2::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*HEADINGS*/
.headings span {
    color: #444;
    font-weight: 500;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
    margin-left: -30px;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_80 {
    padding: 80px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_120 {
    padding: 120px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

.color-primary {
    color: #007bff;
}

.color-secondary {
    color: #e03737 !important;
}


/* ******************************
:: 5.0 PRELOADER AREA CSS
****************************** */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff !important;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    #loader {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
}

/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #195a62;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp svg{
    color: #fff;
    font-size: 18px;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .navbar-nav .nav-link-btn:hover{
    color: #fff;
    background-color: #144d5b;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #fff;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.18rem;
    text-shadow: 2px 2px #444;
    text-shadow: 4px 4px 6px rgb(51 51 51 / 50%);
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
    text-shadow: none;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn{
    color: #fff; 
    margin-top: 15px;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:hover{
    color: #fff !important;
    background-color: #144d5b;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #144d5b;
}
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn.current-menu-item {
    color: #fff;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.nav-link-btn{
    background: #9b1b44;
    padding: 8px 32px !important;
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: none !important;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 10px;
}

.navbar-brand{
    padding-top: .65rem;
}

.navbar-inner nav{
    /* background: #000000;
    opacity: 57%; */
    background-color: rgb(0 0 0 / 57%);
    padding: 0 10px;
}


.navbar-sticky-on .navbar-inner nav{
    background-color: transparent;
    opacity: inherit;
    padding: 0;
}


/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-area{
    background-image: url(../img/banner/banner.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.welcome-intro{
    position: relative;
    top: 180px;
}

.welcome-intro::before{
    position: absolute;
    content: "";
    background-color: #74c0c9;
    width: 18%;
    top: -30px;
    height: 5px;
    border-radius: 6px;
    left: 0;
}

.welcome-intro h1{
    color: #74c0c9;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 18px;
}

.welcome-intro > h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.welcome-intro p{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    display: flex;
    align-items: center;
}

.welcome-intro p::before{
    position: absolute;
    content: "";
    background-color: #fff;
    width: 12%;
    right: 100px;
    height: 1px;
}

.homepage-1 .welcome-thumb {
    max-width: 250px;
    padding-top: 70px;
}

.welcome-area .video-icon {
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.play-btn {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

.btn-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.play-icon {
    font-size: 22px;
    color: #1c144e;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.play-animation {
    -webkit-animation: grow 3s infinite;
    animation: grow 3s infinite;
}

.animation-short {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.homepage-1 .video-icon {
    display: grid;
}

.homepage-1 .video-icon .play-btn {
    background-color: #0056b3;
}

.homepage-1 .video-icon .btn-circle {
    background-color: rgba(0, 86, 179, 0.2);
}

.homepage-1 .video-icon .play-icon {
    color: #fff;
}


/* ******************************
:: 9.0 ABOUT AREA CSS
****************************** */
.about-area{
    padding: 100px 0;
}

.about-head-area .about-head{ 
    margin-bottom: 42px;
}

.about-head span{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    font-weight: 700;
}

.about-head h1{
    color: #9b1b44;
    font-size: 75px;
    margin-bottom: 0;
    font-weight: 600;
}

.about-head h4{
    text-transform: uppercase;
    color: #868686;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 30px;
}

.about-content-area{
    padding-left: 25px;
}

.about-content-area .first{
    margin-bottom: 60px;
    font-size: 22px;
    color: #2e2e2e9e;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
}

.about-content-area .second{
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 30px;
    color: #2e2e2e;
}

.about-content-area .about-link a{
    background-color: #9b1b44;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px 50px;
    transition: all .3s ease;
}

.about-content-area .about-link a:hover{
    background-color: #195a62;
}



/* ******************************
:: 10.0 FACILITIES AREA CSS
****************************** */
.facilities-area{
    background-color: #9b1b44;
}

.fac-box{
    position: relative;
    overflow: hidden;
}

.fac-box img{
    position: relative;
     display: block;
     width: 100%;
     -webkit-transition:all 0.7s ease;
     -moz-transition:all 0.7s ease;
     -ms-transition:all 0.7s ease;
     -o-transition:all 0.7s ease;
     transition:all 0.7s ease;
}

.fac-box img:hover{
    -ms-transform: scale(1.05);
     transform: scale(1.05);
     opacity: 0.70;
}

.fac-text{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0 0 40px;
}

.fac-text h3{
    color: #fff;
    font-size: 30px;
}

.fac-about{
    padding: 40px 20px 0px 0;
}

.fac-about p{
    color: #ffffffc2;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 65px;
    line-height: 40px;
}

.fac-link a{
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 26px;
    text-transform: uppercase;
    letter-spacing: 2px ;
    transition: all .3s ease;
}

.fac-link a:hover{
    color: #195a62;
    background-color: #fff;
    border: 1px solid #195a62;
}

/* ******************************
:: 11.0 ROOMS AREA CSS
****************************** */
.rooms-area{
    position: relative;
    background-image: url(../img/rooms/room1.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
}

.room-box{
    position: relative;
}

.room-list{
    background: #fff;
    opacity: 0.87;
    padding: 70px;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 10%);
}

.room-list ul li{
    padding: 15px 0;
}

.room-list ul li a{
    color: #4b4b4b;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
}

.room-list ul li a:hover{
    color: #195a62;
}

.room-link{
    position: absolute;
    z-index: 11;
    bottom: -15px;
    left: 0;
    padding-left: 70px;
}

.room-link a{
    background: #902242;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 50px;
    letter-spacing: 2px;
    opacity: 0.9;
    transition: all .3s ease;
}

.room-link a:hover{
    color: #fff;
    background-color: #195a62;
}

/* demo */


.rooms-area-demo .main-box{
    position: relative;
    margin-top: 10px;
}

.rooms-area-demo .main-box h2{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.rooms-area-demo .tab-content{
    position: relative;
    left: -70px;
}


.rooms-area-demo .room-box{
    position: relative;
}

.nav-tabs{
    border-bottom: none;
}

.rooms-area-demo .room-list .nav{
    display: block;
}

.owl-nav {
    position: absolute;
    bottom: -115px;
    left: 60px;
}

.owl-nav button {
    width: 45px;
    height: 45px;
    border: 1px solid #c9d6d8 !important;
    border-radius: 50%;
    margin-right: 10px;
}

.owl-nav button:last-child {
    margin-right: 0;
}

.owl-nav button span {
    font-size: 35px;
    color: #c9d6d8;
}

.room-slider .owl-nav [class*=owl-]:hover {
    background-color: #195a62;
}

/* ******************************
:: 12.0 TESTIMONIALS AREA CSS
****************************** */
.testi-area{
    background-image: url(../img/testimonials/testi-bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 70px;
}

.single-testi{
    position: relative;
    padding: 50px 160px 80px 80px;
    background: #e7f2f4;
    max-width: 750px;
}

.testi-quote{
    display: flex;
    position: absolute;
    right: 100px;
    top: 20px;
}

.testi-text p{
    font-size: 21px;
    line-height: 35px;
    font-style: italic;
    color: #fff;
}

.testi-name{
    margin-top: 20px;
}

.testi-name h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 4px;
}

.testi-name span{
    color: #9ea2a3;
    font-size: 20px;
}

.testi-photo{
    position: absolute;
    top: 60%;
    right: -82%;
    transform: translate(-50%,-50%);
}

.testi-head{
    margin-bottom: 80px;
}

.testi-head h1{
    font-size: 42px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* New testi css */

.single-client-testi{
    position: relative;
    width: 100%;
}

.single-box{
    background: #001b2485;
    position: relative;
    padding: 115px 160px 100px 80px;
    display: flex;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.client-pic{
    position: relative;
}

.client-pic img{
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.testi-details{
    flex: 0 0 30%;
    text-align: center;
}

.testi-text{
    flex: 0 0 70%;
    padding-left: 100px;
}

.testi-box-slider .owl-dots{
    display: block;
    text-align: center;
    margin-top: 30px;
}

.owl-dots button {
    background: #d2d5da8f !important;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
}

.owl-dots button.active{
    background-color: #fff !important;
}

/* ******************************
:: 13.0 Book AREA CSS
****************************** */
.book-area{
    position: relative;
    padding-bottom: 100px;
    background-image: url(../img/book/book-ng.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.book-box{
    max-width: 700px;
    padding: 80px 50px 50px 80px;
}

.book-box .header{
    margin-bottom: 60px;
}

.book-box .header h3{
    color: #676767;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
}

.call-btn{
    display: flex;
    align-items: center;
}

.call-btn .call{
    margin-right: 50px;
}

.call-btn .call span{
    color: #9b1b44;
    font-size: 28px;
    font-weight: 500;
}

.call-btn .call a{
    color: #9b1b44;
    font-size: 28px;
    font-weight: 600;
}

.call-btn .call a:hover{
    color: #001b24;
    text-decoration: underline;
}

.call-btn .bk-nw a{
    font-size: 22px;
    text-transform: uppercase;
    background: #9b1b44;
    color: #fff;
    padding: 20px 60px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.call-btn .bk-nw a:hover{
    color: #ffffff;
    background-color: #195a62;
}


/* ******************************
:: 14.0 FOOTER AREA CSS
****************************** */
.footer-area {
    background-color: #f0f0f0;
}

.copyright-area {
    border-top: 1px solid #6767679e;
    color: rgba(255, 255, 255, 0.8);
}

.footer-area  .footer-items{
    margin-top: 25px;
}

.footer-area  .footer-items ul{
    display: flex;
    justify-content: center;
}

.footer-area  .footer-items ul li a{
    font-size: 17px;
}

.footer-area .footer-items a:hover,
.footer-area .footer-items a:focus,
.footer-area .copyright-area a:hover,
.footer-area .copyright-area a:focus {
    color: #9b1b44 !important;
}

.footer-area .mail-social-icons{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.footer-area .mail-social-icons a{
    margin-right: 15px;
    font-size: 18px;
}

.footer-area .mail-social-icons a:hover{
    color: #9b1b44 !important;
}

.footer-area .mail-social-icons ul{
    display: flex;
}

.footer-area .mail-social-icons ul li a{
    font-size: 30px;
}

.copyright-area a img{
    max-width: 100px;
}

/* ******************************
:: 15.0 FORM BOX AREA CSS
****************************** */

.form-area{
    background-color: #195a62;
    margin-bottom: 40px;
}

.form-area2{
    margin-bottom: 0;
}

.form-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    opacity: 0.9;
}

.property-box{
    padding-left: 30px;
}

.form-btn{
    display: flex;
    align-items: center;
    padding: 0 70px;
    background: #86193c;
    height: 120px;
    opacity: 0.9;
}

.form-btn:hover{
    color: #fff;
    background-color: #74c0c9;
}

.form-btn a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-btn a img{
    margin-top: -2px;
}

.prop-box label,
.prop-box2 label{
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.date_icon {
    background: rgba(255,255,255) url(../img/calendar.svg) no-repeat center right 15px;
    background-size: 18px;
    padding-right: 50px;
    border: 0px;
    color: #595959;
    outline: none;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
}

.form-control {
    height: calc(2em + 0.75rem + 2px);
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
}

/* ******************************
:: 16.0 NEW CHANGE CSS
****************************** */
.navbar-dark .navbar-nav .nav-link{
    font-size: 1rem;
    padding: 0 .8rem;
    letter-spacing: 1px;
}

/* @media(min-width: 1281px){
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.18rem;
    }
} */


.nav-link-btn{
    padding: 4px 25px !important;
    font-size: 11px !important;
    margin-top: 15px;
}
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link-btn{
    margin-top: 20px;
}

.navbar-brand img{
    height: 100px;
    width: 100%
}
.navbar-sticky-on .navbar-brand-sticky{
    height: 100px;
    width: 100%;
}

.navbar-brand-footer img{
    max-width: none;
}

/* ******************************
:: 17.0 ABOUT PAGE 
****************************** */
.breadcrumb-area{
    background-image: url(../img/about/about-chakkarakallu.jpg);
    background-size: cover;
    background-position: center;
    height: 560px;
}

.bread-box{
    height: 560px;
    display: flex;
    align-items: center;
    margin-top: 140px;
}

.bread-head h1{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.bread-head span,
.bread-head span a{
    color: #fff;
    font-size: 20px;
}

.bread-head span a:hover{
    color: #ffde00;
}

.welcome-head{
    margin-bottom: 50px;
}

.welcome-head h1{
    color: #9b1b44;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 35px;
}

.welcome-head p{
    font-size: 25px;
    line-height: 40px;
}

.abt-text p{
    color: #0b0b0c;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
}

.abt-text p:first-child{
    margin-bottom: 30px;
}

.about-welcome{
    padding-bottom: 100px;
}

.mision-vision{
    background-image: url(../img/about/mission.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.msn-head{
    margin-bottom: 50px;
}

.msn-head h3,
.vsn-head h3{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.msn-head p,
.vsn-head p{
    color: #ffffffd1;
    font-size: 16px;
    line-height: 28px;
}

.fac-box-area{
    position: relative;
    overflow: hidden;
    padding: 70px;
    text-align: center;
}

.fac-box-area img {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.fac-box-area img:hover {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.70;
}

.fac-box-area .fac-img{
    margin-bottom: 30px;
}

.fac-content h3{
    color: #686868;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 12px;
}

.fac-content p{
    color: #252525e6;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.kk-part{
    padding: 0 0 120px;
    position: relative;
}

.kk-logo{
    padding-left: 70px;
}

.kk-content h2{
    color: #195a62;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 42px;
}

.kk-content p{
    color: #252525;
    font-size: 16px;
    letter-spacing: 1px;
}

/* ******************************
:: 18.0  DESTINATIONS PAGE 
****************************** */
.breadcrumb-area-destini{
    background-image: url(../img/destination/banner-img.jpg);
}

.destini-main-area{
    position: relative;
}

.dotted-pattern{
    position: absolute;
    width: 250px;
    height: 264px;
    display: block;
    background: url(../img/destination/01.png) center center no-repeat;
    left: 150px;
    bottom: 15px;
    animation-name: ScaleMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.dest-box{
    position: relative;
    padding-bottom: 40px;
}

.dest-img{
    position: relative;
    display: block;
}

.text-inner{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0px;
    transition: all 0.3s ease;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 7%);
    text-align: center;
}

.text-inner h4{
    position: relative;
    display: block;
    padding: 20px 20px 20px 30px;
    background: #ffffff;
    transition: all .3s ease;
}

.desti-head span{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    font-weight: 700;
}

.desti-head h2{
    color: #9b1b44;
    font-size: 75px;
    margin-bottom: 0;
    font-weight: 600;
}

.desti-head{
    margin-bottom: 45px;
}

.dest-box:hover .text-inner h4{
    background-color: #9b1b44;
    color: #fff;
}

.destini-booknow{
    background-image: url(../img/destination/middle-banner.jpg);
    background-position: center;
    background-size: cover;
}

.destini-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00000057;
}

.destini-btn-box{
    max-width: 720px;
}

.destini-btn-box h2{
    color: #fff;
    font-weight: 600;
    margin-bottom: 100px;
}

.call-btn .call-destini span{
    color: #fff;
}

.call-btn .call-destini a{
    color: #fff;
}

.call-btn .call-destini a:hover{
    color: #ffde00;
}

.call-btn .bk-nw-detini a{
    border: 1px solid #9b1b44;
    background: #fff;
    color: #9b1b44;
    transition: all .3s ease;
}

.call-btn .bk-nw-detini a:hover{
    border: 1px solid #9b1b44;
    background-color: #9b1b44;
    color: #fff;
}

.fac-box-inner{
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    padding: 60px 30px 35px;
    background: #fff;
    /* box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 10%); */
    border: 1px solid #d0bbbb94;
    transition: all .7s ease;
}

.fac-box-inner:hover{
    transform: scale(1.05);
}

.fac-box-inner .icon-box{
    position: relative;
    display: inline-block;
    font-size: 50px;
    height: 80px;
    line-height: 80px;
    width: 116px;
    margin-bottom: 28px;
}

.icon-circle{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.icon-circle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 50px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
    transition: all .7s ease;
}

.icon-circle::after{
    content: '';
    position: absolute;
    right: 0;
    top: -10px;
    width: 80px;
    height: 80px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
    transition: all .7s ease;
}

.fac-box-inner:hover .icon-circle::after,
.fac-box-inner:hover .icon-circle::before{
    background: #9b1b44;
}

.fac-box-inner:hover .icon-circle::before{
    opacity: 0.2;
}

.fac-box-inner h4{
    margin-bottom: 25px;
    text-transform: capitalize;
}

.fac-box-inner .text{
    position: relative;
    display: block;
    color: #555;
    font-size: 16px;
    line-height: 1.7em;
}

.extra-fac-head{
    margin-bottom: 50px;
}

.extra-fac-head span{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    font-weight: 700;
}

.extra-fac-head h2{
    color: #9b1b44;
    font-size: 70px;
    font-weight: 600;
}

.fac-link-destni{
    margin-top: 10px;
}

.fac-link-destni a{
    color: #9b1b44;
    font-size: 15px;
    transition: all .3s ease;
}

.fac-link-destni a:hover{
    color: #74c0c9;
    letter-spacing: 1px;
}

/* ******************************
:: 19.0  FACILITIES PAGE 
****************************** */
.breadcrumb-area-facility{
    background-image: url(../img/facilities/fac-banner.jpg);
}

.fac-area-main{
    background-color: #edebe5;
}

.fac-main-head{
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}

.fac-main-head h2{
    font-size: 55px;
    font-weight: 600;
    color: #9b1b44;
    margin-bottom: 10px;
}

.fac-main-head p{
    font-size: 16px;
}

.room-inner{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.room-post{
    position: relative;
    overflow: hidden;
    width: 50%;
}

.room-post img{
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
}

.room-content{
    width: 50%;
}

.room-content-inner{
    padding: 70px;
}

.room-content-inner .title h3{
    font-size: 35px;
    font-weight: 600;
}

.room-content-inner .room-description{
    margin-top: 35px;
}

.room-content-inner .room-description p{
    font-size: 15px;
}

.room-content-inner .room-booking{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #d7d7d7;
}

.room-content-inner .room-booking a{
    background-color: #9b1b44;
    color: #fff;
    padding: 12px 35px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.room-content-inner .room-booking a:hover{
    background-color: #144d5b;
}

/* ******************************
:: 20.0  CONTACT PAGE 
****************************** */
.breadcrumb-area-contact{
    background-image: url(../img/contact/banner.jpg);
}

.adr-box{
    padding: 20px;
    border-right: 1px solid #ddd;
}

.adr-box.border-right-none{
    border-right: none;
}

.adr-box .logo{
    background: #86193c;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 12px;
}

.adr-box .logo svg{
    color: #fff;
    font-size: 20px;
}

.adr-box h3{
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #9b1b44;
}

.adr-box p{
    font-size: 16px;
    color: #144d5b;
}

.adr-box p a:hover{
    color: #144d5b;
    text-decoration: underline;
}

.write-area{
    padding-top: 10px;
}

.write-area-head h1{
    font-size: 3em;
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 1rem;
}

.contact-box .form-control{
    font-size: 14px;
    height: 50px;
    padding: 0 15px;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-box .form-group textarea {
    height: 200px;
    padding: 15px;
}

.btn-submit{
    text-align: center;
    text-align: center;
    background: #9b1b44;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-submit:hover{
    background-color: #144d5b;
    color: #fff;
    letter-spacing: 3px;
}

.map-area{
    padding-top: 0;
}

.map-area .map{
    height: 450px;
    filter: grayscale(1);
    width: 100%;
}

.map-area .map iframe{
    width: 100%;
}


/* ******************************
:: 21.0  RESERVATION PAGE 
****************************** */
.reserv-image{
    background-image: url(../img/reserv.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 6px;
}

.reserv-head{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserv-head h1{
    color: #fff;
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    font-weight: 700;
}

.reserv-apply-area{
    padding: 50px 50px;
    margin-top: 50px;
    box-shadow: 0px 8px 30px #97a1b224;
    border-radius: 8px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.reserv-apply-area input{
    border: 0;
    border-bottom: 1px solid #D9DDE4;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 52px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #97A1B2;
}

/* ******************************
:: 22.0  POPUP AREA 
****************************** */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #9b1b44;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #9b1b44 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #193d6f;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #9b1b44;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a{
    background: #9b1b44;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
    transition: all .3s;
}

.popup-btn a:hover{
    background-color: #144d5b;
    color: #fff;
}

.popup-btn{
    margin-top: 20px;
}

/* ******************************
:: 23.0 TESTIMONIALS PAGE 
****************************** */
.breadcrumb-area-testi{
    background-image: url(../img/testimonials/testi-banner.jpg);
}

.head-section-testi{
    margin-bottom: 50px;
}

.head-section-testi span{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 700;
}

.head-section-testi h1{
    color: #9b1b44;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 600
}

.testi-inner{
    position: relative;
    display: block;
    text-align: center;
    margin: 20px 20px 0px;
    padding: 20px 30px 40px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    transition: all 300ms ease;
    z-index: 1;
}

.testi-inner .content-box-testi{
    position: relative;
    display: block;
    margin-bottom: 45px;
    transition: all 300ms ease;
}

.testi-inner .content-box-testi .content{
    position: relative;
    display: block;
}

.quote-icon{
    position: relative;
    display: block;
    font-size: 42px;
    line-height: 1em;
    margin-bottom: 12px;
    color: #d7d7d7;
    transition: all .3s ease;
}

.testi-inner .content-box-testi .text p{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.6em;
    color: #555555;
}

.owl-dots{
    display: block;
    text-align: center;
    margin-top: 25px;
}

.owl-dots button{
    background-color: #ccc !important;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(0,0,0,0.10);
    border-radius: 50%;
    margin: 0 7px;
    position: relative;
    outline: none;
}

.owl-dots button::before{
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    right: 4px;
    bottom: 4px;
    background: rgb(0 0 0 / 66%);
    border-radius: 50%;
    z-index: 1;
}

.owl-dots button.active{
    background-color: #ddd !important;
    border: 2px solid rgba(0,0,0,0.8);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
}

.testi-info{
    position: relative;
    display: block;
    line-height: 1.5em;
    color: #666666;
    min-height: 90px;
}

.testi-info .image{
    position: relative;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: 0 auto 20px;
    border-radius: 50%;
    box-shadow: 0px 25px 25px 0px rgb(0 0 0 / 3%);
}

.testi-info .image img{
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.testi-info .name{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    color: #1b1c1e;
    font-weight: 500;
    text-transform: capitalize;
}

.testi-info .designation{
    position: relative;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.5em;
    color: #555555;
    font-weight: 400;
    text-transform: capitalize;
}

.testi-inner:hover{
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.025);
}

.testi-inner:hover .quote-icon{
    color: #9b1b44;
}


 /* ******************************
:: 24.0 NEWS PAGE 
****************************** */
.news-area{
    background-color: #edebe5;
    padding-bottom: 150px;
}

.head-section-news{
    margin-bottom: 50px;
}

.head-section-news span{
    color: #9b1b44;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 700;
}

.head-section-news h1{
    color: #9b1b44;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 600
}

.post-inner{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    height: 100%;
    min-height: 350px;
    background-color: rgba(0,0,0,.15);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.post-inner .post-thumbnail{
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 126.835%;
}

.post-inner .post-thumbnail a{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.post-inner .post-thumbnail img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;;
}

.post-inner .post-content{
    padding: 15px 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.post-inner .post-content::after{
    content: '';
    position: absolute;
    height: 150%;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,.9) 0%,rgba(0,0,0,0) 100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 1;
    z-index: 0;
}

.post-inner .post-content .entry-item{
    position: relative;
    z-index: 1;
}

.post-inner .post-content .entry-item .entry-header{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.post-content .entry-item .entry-header h3 a{
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.post-content .entry-item .entry-header h3 a:hover{
    color: #fff;
    text-decoration: underline;
}

.post-content .entry-item .entry-content{
    color: #bdbdbd;
    line-height: 1.5;
    margin-bottom: 25px;
    overflow: hidden;
    transform: translateY(300%);
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.post-content .entry-item .entry-content p{
    color: #dee2e6;
    line-height: 22px;
}

.entry-content .entry-link{
    margin-top: 18px;
    margin-bottom: 12px;
}

.entry-content .entry-link a{
    color: #ffde00;
    letter-spacing: 1px;
    font-size: 14px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.entry-content .entry-link a:hover{
    color: #74c0c9;
    letter-spacing: 2px;
}

.entry-content:before, .entry-content:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.post-inner:hover .post-content .entry-item .entry-content{
    transform: translateY(0);
    opacity: 1;
}

.post-inner:hover .post-content .entry-item .entry-header{
    bottom: 100%;
} 

.news-slider .owl-nav{
    display: block;
    bottom: -75px;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
}

.news-slider .owl-nav button{
    border: 1px solid #9b1b44 !important;
}

.news-slider .owl-nav [class*=owl-]:hover {
    background-color: #9b1b44;
}

.news-slider .owl-nav button span{
    color: #9b1b44;
}

.news-slider .owl-nav [class*=owl-]:hover span{
    color: #fff;
}


/* ******************************
:: 25.0 SINGLE NEWS PAGE 
****************************** */


/* ******************************
:: 26.0 GALLERY PAGE CSS
****************************** */
.breadcrumb-area-gallery{
    background-image: url(../img/gallery/gallery-banner.jpg);
}

.gallery-img{
    position: relative;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    display: flex;
    height: 100%;
}

.gallery-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 37, 51, 0.60);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.gallery-overlay a{
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    line-height: 75px;
}

.gallery-overlay a i{
    font-size: 30px;
    color: #fff;
    line-height: 70px;
}

.gallery-overlay a svg{
    color: #fff;
    font-size: 30px;
}

.gallery-img:hover .gallery-overlay{
    visibility: visible;
    opacity: 1;
}

.gallery-box{
    display: flex;
    padding: 0;
}